{% extends "base.html" %}
{% block content %}
<div class="container text-center">
  <h1>{{ titulo }}</h1>
</div>
<div class="container">
  {% if bodegas %}
  <table id="example" class="display" style="width: 100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre de bodega</th>
        <th>Dirección de bodega</th>
      </tr>
    </thead>
    <tbody>
      {% for bodega in bodegas %}
      <tr>
        <td>{{ bodega.id }}</td>
        <td>{{ bodega.nombreBodega }}</td>
        <td>{{ bodega.direccionBodega }}</td>
        <td>
          <a href="/bodega/edit/{{ bodega.id }}" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
          <a href="/bodega/delete/{{ bodega.id }}" class="btn btn-danger"><i class="bi bi-trash3"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="alert alert-danger text-center" role="alert">
    <h1>No hay bodegas registradas</h1>
  </div>
  {% endif %}
</div>
<div class="container">
  <!-- Agregar mascota -->
  <a href="/addBodega" class="btn btn-success">Agregar bodega</a>
  <!-- Volver a la derecha -->
  <a href="/" class="btn btn-primary float-end">Volver</a>
</div>
{% endblock content %}